.table-bordered {
    background-color: #D67A99;
}

.btn-outline-info {
/* texto */
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #000000;
/* boton */
    border: 1px solid #000000;
    position: absolute;
    width: 386px;
    height: 102px;
    left: 90px;
    top: 84px;
    background: rgba(179, 235, 226, 0.89);
    border-radius: 45px;
}

#btn2 {
        top: 272px;
    }

.btn3 {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    left: 23rem;
    top: 14rem;
}

.rectangle, .rectangle2, .rectangle3 {
    position: absolute;
    width: 590px;
    height: 500px;
    left: 50px;
    top: 100px;
    background: rgba(250, 129, 170, 0.87);
    border: 17px solid #B3EBE2;
    box-sizing: border-box;
    border-radius: 44px;
}

.breakfast-div, .lunch-div {
    margin: 10px 0px 5px 20px;
    width: 220px;
    height: 100px;
}

.nameForm {
    margin-top: 0.5rem;
    margin-left: 18rem;
}

.tableForm {
    margin-left: 1rem;
}

.nameSubmit {
    color: black;
    background-color: #B3EBE2;
    border-radius: 2rem;
    border: 1px solid #000000;
    text-align: center;
    margin-left: 2rem;
}

.rectangle3 {
    left: 20rem;
    top: 40rem;
    height: 20rem;
    margin-bottom: 2rem;
}

.rectangle2 {
    overflow: auto;
    left: 680px;
}

.rectangle2::-webkit-scrollbar {
    width: 20px;
}

.form-check-input {
    margin-left: 2em;
}


.rectangle2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: black;
    background-color:  rgba(14, 13, 13, 0.87);
    -webkit-box-shadow:inset 0 0 8px  rgb(255, 255, 255) ; 
    margin-right: 30rem;
}